# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
mujpy/tests/cache/*.log
mujpy/tests/csv/*.csv
mujpy/tests/fit/*_A1.json
mujpy/tests/fit/*_A20.json
mujpy/tests/fit/*_A21.json
mujpy/tests/fit/*_B1.json
mujpy/tests/fit/*_B20.json
mujpy/tests/fit/*_B21.json
mujpy/tests/fit/*_C1.json
mujpy/tests/fit/*_C2.json
docs/oldies
docs/save-video
mujpy/v.1
mujpy/v.2.7
mujpy/tests/_pycache__
mujpy/tests/v.1.0/
mujpy/muroot2py/muroot.plan.txt
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv
venv/
ENV/


TEST_TMP/
wheelhouse*/
!mujpy/tests/build/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~

tags
TAGS
MANIFEST

# dynamic versioning
mujpy/_version.py
