/* Center or left-align the math block */
.math {
    text-align: center;
}

/* Force the equation number to float to the right side of the same line */
.eqno {
    float: right;
}
/* Provide Header-like format for DOCGROUPS */
.rst-content .docgroup-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #ccc;
}
